:root {
  --colorRed: #c60000;
  --colorRedDarken: #9e0000;
  --colorBase: #333;
  --colorDarkGrey: #2f4f4f;
  --colorLightGray: #fbfbfb;
  --colorLine: #e2e2e2;
  --font-openSans: 'Open Sans', sans-serif;
  --font-quicksand: 'Quicksand', sans-serif;
}
body {
  color: var(--colorBase);
  font-family: var(--font-quicksand);
  font-size: 16px;
}
.wrapper {
  height: auto;
  max-width: 1180px;
  margin: auto;
  padding: 0 1em;
  overflow: hidden;
}
.space::before {
  display: block;
  content: " ";
  min-height: 60px;
}
h1.u-title {
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
  margin: 30px auto 10px auto;
}
h3.u-subtitle {
  font-size: 1.2em;
}
p.info {
  line-height: 1.2em;
}
hr.line {
  max-width: 450px;
}
.navbar {
  padding: 0.3rem 1rem !important;
}
.nav-link {
  color: var(--colorBase) !important;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.nav-link:hover {
  color: var(--colorRed) !important;
}
.btn-contact {
  border-radius: 2em;
  border: 3px solid var(--colorRed);
  padding: 0.5em 1.8em !important;
  transition: 0.5s all;
}
.btn-contact:hover {
  background-color: var(--colorRed);
  color: #fff !important;
}
header {
  background: #fff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.7em 0;
  z-index: 2;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}
.banner {
  background: #ece9e6;
  background: -webkit-linear-gradient(to left, #ece9e6, #fff);
  background: linear-gradient(to left, #ece9e6, #fff);
  height: auto;
}
.banner .box-left {
  padding-top: 2em;
}
@media screen and (max-width: 992px) {
  .banner .box-left {
    text-align: center;
  }
}
.banner img {
  margin: 30px auto;
  width: 100%;
}
.banner-box-info {
  width: 100%;
  min-height: 100px;
  margin: 10px auto 0px auto;
  text-align: center;
}
.banner-box-info img {
  width: 75px;
  height: auto;
  margin: 0px auto 5px auto;
}
.banner-box-info h4.title-info {
  color: var(--colorRed);
  font-size: 1.3em;
  font-weight: bold;
}
h4.text-small {
  color: var(--colorDarkGrey);
  font-size: 1.3em;
}
h2.text-medium {
  color: var(--colorBase);
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
}
h1.text-big {
  color: var(--colorRed);
  font-size: 5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -35px;
}
.bonus {
  background-color: #fff;
  height: auto;
  min-height: 450px;
  width: 100%;
}
.bonus-minwrapp {
  margin: 30px auto;
  max-width: 1024px;
}
.bonus-subtitle {
  color: var(--colorRed);
}
.bonus-subtitle:before {
  content: '';
  width: 50px;
  border-bottom: 3px solid var(--colorRed);
}
.bonus-box-info {
  width: 100%;
  height: auto;
  margin: 10px auto 0px auto;
  text-align: center;
}
.bonus-box-info h4.title-bonus {
  color: var(--colorBase);
  font-size: 1.3rem;
  font-weight: bold;
}
.bonus-box-info img {
  margin: 30px auto;
  height: 100px;
}
.questions {
  background-color: var(--colorLightGray);
  width: 100%;
  height: auto;
  min-height: 580px;
}
.questions .t-questions {
  color: var(--colorRed);
}
.questions-minwrapp {
  margin: 3em auto 1em auto;
  max-width: 900px;
  padding: 1em;
}
.questions-minwrapp .details {
  margin: 2em 0;
  padding: 0.2em 0;
}
.questions-minwrapp .details .summary {
  border: none;
  font-weight: bold;
  font-size: 1.1em;
}
.questions-minwrapp .details .summary:focus {
  outline: 0;
}
.questions-minwrapp .details .summary::-webkit-details-marker {
  color: var(--colorRed);
}
.questions-minwrapp .details .info-details {
  margin: 1.2em 0 1em 0;
  color: var(--colorDarkGrey);
}
.contact {
  min-height: 600px;
}
.contact span {
  color: var(--colorRed);
}
.contact-minwrapp {
  max-width: 700px;
  height: auto;
  overflow: hidden;
  margin: 30px auto 20px auto;
  padding: 1em;
  font-size: 1.1em;
}
.contact-minwrapp .form-contact {
  margin-top: 2em;
}
.box-button {
  width: 200px;
  margin: 0px auto;
}
.btn {
  padding: 0.5rem 1.8rem !important;
  border-radius: 1.2rem !important;
}
.btn-nexura {
  color: #fff;
  background-color: var(--colorRed);
  border-color: var(--colorRed);
}
.btn-nexura:hover {
  color: #fff;
  background-color: var(--colorRedDarken);
}
.footer {
  color: #fff;
  background-color: var(--colorRed);
  padding: 2em 0;
}
.footer-content-items {
  align-items: center;
}
.footer a.link-nexura {
  color: #fff;
  display: flex;
  padding: 0;
  margin: 0.2em 0;
  transition: all 0.5s;
}
.footer a.link-nexura:hover {
  color: var(--colorBase);
}
.footer .footer-menu {
  display: flex;
  margin: 0;
}
.footer ul {
  list-style: none;
}
.footer li {
  padding: 1em 0;
}
.footer a {
  color: #fff;
  padding: 0.8em;
  margin: 0 0.2em;
  transition: all 0.5s;
}
.footer a:hover {
  color: var(--colorBase);
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer .footer-menu {
    display: block;
    margin: 0;
    text-align: center;
  }
  .footer li {
    padding: 0.5em 0;
    width: 100%;
  }
}
