.banner
  background #ECE9E6  
  background -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF)
  background linear-gradient(to left, #ECE9E6, #FFFFFF)
  height auto

  &-box
    padding-top 2em

  img
    margin 30px auto
    width: 100%
  
  &-box-info
    width 100%
    min-height 100px
    margin 10px auto 0px auto
    text-align: center
    img
      width 75px
      height auto
      margin 0px auto
    h4.title-banner
      color var(--colorRed)
      font-size 1.3rem
      font-weight bold
    p.info
      font-size 1rem
      line-height 1rem

h4.text-small
  color var(--colorDarkGrey)
  font-size 1.3em

h2.text-medium
  color var(--colorBase)
  font-size 3em
  text-transform uppercase
  font-weight bold
  
h1.text-big
  color var(--colorRed)
  font-size 5em
  text-transform uppercase
  font-weight bold
  margin-top -35px


