
.bonus
  background-color white
  height auto
  min-height 400px
  width 100%
  h1.title
    font-size 2.4rem
    font-weight bold
    text-align center
    margin 30px auto 20px auto
  h4
    color var(--colorRed)
    font-size: 1.1rem

  &-box
    margin 30px auto
    max-width 1024px

  &-box-info
    width 100%
    height auto
    margin 10px auto 0px auto
    text-align: center
    h4.title-bonus
      color var(--colorBase)
      font-size 1.3rem
      font-weight bold
    img
      margin 30px auto
      height 100px
