
.bonus
  background-color white
  height auto
  min-height 450px
  width 100%
  &-minwrapp
    margin 30px auto
    max-width 1024px
  &-subtitle
    color var(--colorRed)
    &:before
      content ''
      width 50px
      border-bottom 3px solid var(--colorRed)
  

  &-box-info
    width 100%
    height auto
    margin 10px auto 0px auto
    text-align: center
    h4.title-bonus
      color var(--colorBase)
      font-size 1.3rem
      font-weight bold
    img
      margin 30px auto
      height 100px
