
.contact
  min-height 600px
  span
    color var(--colorRed)
  &-minwrapp
    max-width 700px
    height auto
    overflow hidden
    margin 30px auto 20px auto
    padding 1em
    font-size 1.1em
    .form-contact
      margin-top 2em

.box-button
  width: 200px
  margin: 0px auto

.btn
  padding: 0.5rem 1.8rem !important
  border-radius: 1.2rem !important

.btn-nexura
  color #fff
  background-color var(--colorRed)
  border-color var(--colorRed)
  &:hover
    color #fff
    background-color var(--colorRedDarken)
