
.navbar
  padding 0.3rem 1rem !important

.nav-link
  color var(--colorBase) !important
  font-weight bold
  text-align center
  text-transform uppercase
  &:hover
    color var(--colorRed) !important
    

.btn-contact
  border-radius 2em
  border 3px solid var(--colorRed)
  padding 0.5em 1.8em !important
  transition 0.5s all
  &:hover
    background-color var(--colorRed)
    color: white !important
    