.questions
  background-color var(--colorLightGray)
  width 100%
  height auto
  min-height 580px
  .t-questions
    color var(--colorRed)
  &-minwrapp
    // border 1px solid red
    margin 3em auto 1em auto
    max-width 900px
    padding 1em
    .details
      margin 2em 0
      padding .2em 0
      .summary
        border none
        font-weight bold
        font-size 1.1em
        &:focus
          outline 0
        &::-webkit-details-marker
          color var(--colorRed)

      .info-details
        margin: 1.2em 0 1em 0
        color var(--colorDarkGrey)
        
            