
:root
  --colorRed: #c60000
  --colorBase: #333333
  --colorDarkGrey: darkslategrey
  --colorLightGray: #f5f5f5
  --colorLine: #e2e2e2

  --font-openSans: 'Open Sans', sans-serif;
  --font-quicksand: 'Quicksand', sans-serif;

body
  color var(--colorBase)
  font-family var(--font-quicksand) 
  font-size: 16px;

.wrapper
  height auto
  max-width 1180px
  margin auto
  padding 0 1em


  //secciones
@import './header.styl'
@import './banner.styl'
@import './bonus.styl'
@import './questions.styl'